page-booking {
    .bg{
        background: #f39c12;    
      }
      h2{
          color:grey;
      }
      .btn1{
        border-radius: 15px;

      }
      .bg{
        background: #f39c12;    
      }
      h3{
        color:grey;
        text-align: center;
      }
}
