page-home {
    #topButtons{
        display: flex;
        flex-direction: row;
    }
    #topButtons button{
        flex:1;
    }
    .hotel{

        // height: 100vh;
        //  width: 100vw;
        margin-top: auto;
        margin-bottom: auto;
        // background: #f39c12;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
         padding: 10px;
    
        border-radius: 5px;
        top:12%;

    }
    .btn{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
   
        text-align: center;
        border-radius: 15px;
     
       

    }
   
    img{
        // position: absolute;
                 height: 130px;
                width: 310px;
                // top: -55px;
                
                background: #60a3bc;
                padding: 10px;
                
                       
    
    }
    .bg{
        background: #f39c12; 
    }
   h6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
color:grey;
    text-align: center;
    font-size: 150%;
    text-align:center

   } 
  
}
